@font-face {
	font-family: 'Nexa';
	src: url('../fonts/NexaLight.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nexa';
	src: url('../fonts/NexaBold.otf');
	font-weight: bold;
	font-style: normal;
}

@import url(reset.css);

.sigBox {
	position: relative;
	padding: 30px 0 30px 0;
	background-color: #043d5d;
}

.tableOfContents {
	position: relative;
	padding: 80px 0 65px 0;
	background-color: #449bb5;
}

.introduction {
	position: relative;
	padding: 100px 0 10px 0;
	background-color: #68c39f;
}

.signatureLogo {
	width: 200px;
	height: 60px;
	margin: 0 auto;
	background: url('../img/signature.png') 50% 50% no-repeat;
	background-size: 160px;
}

.contents {
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 24px;
}

.arrow {
	background: url('../img/scroll-b.png') 50% 80% no-repeat;
	text-align: center;
	font-weight: bold;
	cursor: default;
	font-size: 12px;
	line-height: 14px;
	margin: 25px 0 0 0;
	color: #60b9d4;
	height: 65px;
	-ms-transition: background-position 0.2s ease;
	-moz-transition: background-position 0.2s ease;
	-webkit-transition: background-position 0.2s ease;
	-o-transition: background-position 0.2s ease;
	transition: background-position 0.2s ease;
}

.arrow:hover {
	color: #60b9d4;
	background: url('../img/scroll-b.png') 50% 100% no-repeat;
	-ms-transition: background-position 0.2s ease;
    -moz-transition: background-position 0.2s ease;
    -webkit-transition: background-position 0.2s ease;
    -o-transition: background-position 0.2s ease;
    transition: background-position 0.2s ease;
}

.chapters {
	text-align: center;
	padding: 50px 0 0 0;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: bold;
}

.title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #FFF;
	line-height: 24px;
}

.introContent {
	color: #FFF;
}

.introPic {
	background: url('../img/login.png') 50% 0 no-repeat;
	background-size: 170px;
	height: 400px;
}

.links a {
	color: #FFF;
	-webkit-transition: color .1s ease-in-out;
	-moz-transition: color .1s ease-in-ou;
	-ms-transition: color .1s ease-in-ou;
	-o-transition: color .1s ease-in-ou;
	transition: color .1s ease-in-ou;
}

.links a:hover {
	color: #60b9d4;
}